<div class="main">
  <div class="topbar slide-up">
    <h1>Guru</h1>
  </div>
  <div class="sidebar slide-left-1">
    <h2>New Inquiry</h2>
    <div class="icon"><img id="questionIcon" src="/images/question-icon.png"></div>
    <img id="guruIcon" src="/images/guru-icon-3.png" onclick="javascript:window.location.href='/information'">
  </div>
  <div class="main-view slide-left-2">
    <div class="container">
    <div class="row">
              <h2><span id="{{userId}}" class="member-name">{{user}}</span></h2>

      <div class="col-md-6 col-md-offset-3">
      </div>
    </div>
  </div>
    <h3>Board of Inquiries</h3>
    <ul id="questions-list" class="list-group">
      {{#each questions}}
      <a href="questions/{{this.id}}" style="text-decoration: none; color:black" data-id="{{this.name}}"
        class="card mb-2" class="question-card">
        <div style="background-color: #CF5E01" class="card-header d-flex w-100 justify-content-between">
          <h5 class="mb-1">John Smith</h4>
            <small>3 days ago</small>
        </div>
        <p class="mb-1 card-body">{{this.body}}</p>
        {{!-- <HR> --}}
        <small class="pl-3"><em>{{this.subject}}</em></small>
      </a>
      {{!-- <button class="btn btn-danger float-right delete">x</button> --}}
      </li>
      {{/each}}
    </ul>

  </div>


</div>
<!----------------Modal---------->
<div id="questionModal" class="modal fade bd-example-modal-lg" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
                <div class="modal-body">
                    <div class="row">
                        <div class="container-fluid">
                            <h2 style="font-size:2em;color:black;">Ask a Question</h2>
    <form class="clearfix mb-4" action="POST">
      <div class="form-group">
        <br>
        <label for="question-subject"><p>Subject</p></label>
        <input type="text" id="question-subject" class="form-control" aria-describedby="question-subject"><br>
        <label for="question-category"><p>Category</p></label>
        <select class="custom-select" id="question-category">
          <option selected></option>
          <option value="Resources">Resources</option>
          <option value="Repairs">Repairs</option>
          <option value="Coding">Coding</option>
        </select><br><br>
        <label for="question-body"><p>What is your question, Padawan?</p></label>
        <textarea class="form-control" id="question-body" aria-describedby="question-body"></textarea>
      </div>
      <button id="submit" class="btn button-1 float-right">Submit</button>
    </form>
                    </div>
                </div>
               <div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Exit</button></div>
            </div>
        </div>
    </div>


<script>
  $(document).ready(function() {
  // This file just does a GET request to figure out which user is logged in
  // and updates the HTML on the page
  getResponses: function(id) {
    return $.ajax({
      url: "/questions/api/response/" + id,
      type: "GET"
    });
  $.get("/api/user_data"+ id).then(function(data) {
    $(".member-name").text(data.name);
    console.log(data);
  });
   let animationState = sessionStorage.getItem('animations');
    console.log(animationState);
    if (animationState === "off") {
        $(".topbar").removeClass("slide-up").css("opacity", "1");
           $(".sidebar").removeClass("slide-left-1").css("opacity", "1");
              $(".main-view").removeClass("slide-left-2").css("opacity", "1");
                  }
  });
  $("#questionIcon").on("click", () => {
    $('#questionModal').modal('show');
  });
  $("#questions-list").on("click", "a", ()=>{
    // Save data to sessionStorage
sessionStorage.setItem('animations', 'off');
  });
       
</script>
<script src="/js/index.js"></script>