<div class="main">
  <div class="topbar slide-up">
    <p style="float:left;margin-left:5vw;margin-top:5vh; color:aliceblue;"><a id="goBackButton" href="">Go Back </a></p>

    <h1>Guru</h1>
    <p style="float:right;margin-right:5vw;margin-top:5vh; color:aliceblue;"><a href="/logout">Log Out </a></p>

  </div>
 
    <nav id="sidebar" class="sidebar slide-left-1">
      
      
          <div class="icon">
            <p id="question-text"><img id="questionIcon" src="/images/question-icon.png">Questions</p>
          </div>
          <img id="guruIcon" src="/images/guru-icon-3.png" onclick="javascript:window.location.href='/information'">
        
     
      <ul class="list-unstyled components">
        <li>
          <a href="#">Guru Of The Week</a>
        </li>
        <li>
          <a href="#">Wisdoms Forum</a>
        </li>
        <li>
          <a href="#">Company Resources</a>
        </li>
      </ul>
    </nav>



  <div class="main-view slide-left-2">
    <div id="question" class="card mt-4">
      <div class="card-body">
        

        <div class="row">
          <div class="col-md-2">
            <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid" />
            <p class="text-center"><strong> {{questions.employeeName}}</strong></p>
          </div>
          <div class="col-md-10">
            
            <a class="float-left" href=""><strong>{{questions.subject}}</strong></a>

            <div class="clearfix"></div>
            <p>{{questions.body}}</p>
            <p> <strong>Status</strong>: {{questions.status}}</p>
             <p style="font-size: .5em;" id="question-id" data-id="{{questions.id}}">Question Id: {{questions.id}}</p>
     
            <ul id="responses-list" class="list-group">
              {{#each responses}}
              <div style="background-color: rgb(245, 245, 245)"
                class="card-header d-flex w-100 justify-content-between">
                
                <h5 class='mb-1'>By {{this.employeeName}}</h5>
                  <p style="font-size: .5em;">Responded on {{this.createdAt}}</p>
              </div>
              <p class="mb-1 card-body">{{this.body}}</p>
              {{/each}}
            </ul>
            <form class="clearfix mb-4" action="POST">
              <div class="form-group">
                <label for="response-body"></label>
                <textarea class="form-control" id="response-body" aria-describedby="response-body"
                  placeholder="Add your response"></textarea>
              </div>
              <button id="submit" class="btn button-1 float-right">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<script src="/js/response.js"></script>
<script>
  let animationState = sessionStorage.getItem('animations');
  console.log(animationState);
  if (animationState === "off") {
    $(".topbar").removeClass("slide-up").css("opacity", "1");
    $(".sidebar").removeClass("slide-left-1").css("opacity", "1");
    $(".main-view").removeClass("slide-left-2").css("opacity", "1");
  }

</script>